.book-container {
    display: flex;
    align-items: flex-start;  /* Align children to the top */
    gap: 20px;
    margin: 15px 0;
    padding: 15px;
    background: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Book Cover Container */
.cover-container {
    flex-shrink: 0;
    height: 250px;
    width: auto;
    background: #ddd;
    border-radius: 2px;
}

/* Book Cover Image */
.book-cover {
    height: 100%;
    width: auto;
    border: 2px solid #ddd;
    border-radius: 4px;
}

/* Book Details Section */
.book-details {
    flex-grow: 1;
    padding-left: 5px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.title-row {
    display: flex;
    align-items: center;
    gap: 10px; /* space between title and media type */
}

/* Book Title */
.book-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #2c3e50;
}

.media-type {
    display: flex;
    flex-direction: row;
    background: #e3e3e3;
    border-radius: 8px;
    padding: 4px 8px;       /* add some inner spacing */
    width: fit-content;      /* shrink to fit content */
    font-size: 0.7em;       /* slightly smaller text */
    align-items: center;     /* center content horizontally */
}

/* Book Author */
.book-author {
    font-size: 0.95em;
    color: #7f8c8d;
    margin-bottom: 5px;
}

/* Book Published Year */
.book-published {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

.availability.True {
    padding: 5px 0px;
    color: #117e2a;
}

.availability.False {
    padding: 5px 0px;
    color: #aa0516;
}

/* Library Link */
.library-link a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

/* Library Link Hover Effect */
.library-link a:hover {
    text-decoration: underline;
}

/* Separates books visually */
.book-divider {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}

/* contain that wraps the trigger and popup */
.description-container {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

/*  Includes clickable text to show more details */
.description-trigger {
    color: #3498db;
    cursor: pointer;
    text-decoration: underline;
}

/* Hover Effect for Description Trigger */
.description-trigger:hover {
    color: #2980b9;
}

/* Description that appears on hover */
.description-popup {
    font-size: 0.7em;
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 600px;
    top: 20px;
    left: 0;
}

/* Show description popup on hover */
.description-container:hover .description-popup {
    display: block;
}